/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


/* basic setup */

body {
    font-family: 'Open Sans', sans-serif;
}


/* ======start  header ========== */

.header {
    background-color: #264653;
    max-width: 1200px;
    margin : 0 auto;
}

/* nav a */
.color-white {
    color: white;
}

.custom-btn {
    color: white;
    background-color: #E76F51;
    padding: 8px 16px;
}

.header .text-color {
    color: #ccc7c7;
}


.header .p-tag {
    width: 70%;
    font-size: 14px;

}

@media screen and (max-width: 688px) {
    .header .p-tag {
      font-size: 15px;
       width: 100%;
    }
    
}
/* ======end header ========== */




/* ======start Feture bike section ========== */
.p-tag-2 {
    color:  #E76F51;
}

.hr-tag {
    width: 70px;
    margin: auto;
    background-color: red;
    padding: 1px;

}

.gray-img-1 {
    filter: grayscale(100%);

}

.gray-img-2 {
    filter: grayscale(90%)

}
/* ======end  Feture bike section ========== */



/* ======start happy clients section ========== */

 .span-tag {

    color: #E76F51;

  }

  .star-icon , .star {
     color:   #E76F51; 
  }

 
/* ======end happy clients section ========== */
